{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="spec_tb_wrap">
    <p class="sub_cont_tit">Specifications</p>
    <table class="spec_tb roboto">
        <tr>
            <th>CONSTRUCTION</th>
            <td>DoubleLock Neck Joint</td>
        </tr>
        <tr>
            <th>CUTAWAY</th>
            <td>Florentine</td>
        </tr>
        <tr>
            <th>BODY</th>
            <td>SFX Deep Body</td>
        </tr>
        <tr>
            <th>NUT WIDTH</th>
            <td>1 11/16"(43㎜)</td>
        </tr>
        <tr>
            <th>TOP</th>
            <td>Solid Adirondack Spruce</td>
        </tr>
        <tr>
            <th>BACK &amp; SIDES</th>
            <td>Solid Flamed Maple</td>
        </tr>
        <tr>
            <th>NECK</th>
            <td>5pcs Maple &amp; Walnut<br>(Walnut Reinforced Neck)</td>
        </tr>
        <tr>
            <th>FRETBOARD</th>
            <td>Ebony</td>
        </tr>
        <tr>
            <th>FRETS</th>
            <td>20</td>
        </tr>
        <tr>
            <th>SCALE</th>
            <td>25.3"(643㎜)</td>
        </tr>
        <tr>
            <th>INLAY</th>
            <td>Special Designed Puzzle Inlay</td>
        </tr>
        <tr>
            <th>TUNERS</th>
            <td>Gotoh® 510Z Gold</td>
        </tr>

        <tr>
            <th>ROSETTE</th>
            <td>Special Designed Puzzle Rosette</td>
        </tr>

        <tr>
            <th>BRIDGE</th>
            <td>Ebony</td>
        </tr>
        <tr>
            <th>ELECTRONICS</th>
            <td>L.R. Baggs® Anthem</td>
        </tr>
        <tr>
            <th>STRINGS</th>
            <td>D'Addario® EXP16</td>
        </tr>
        <tr>
            <th>BRACING</th>
            <td>Hand Scalloped X-Bracing</td>
        </tr>
        <tr>
            <th>ADDITIONAL</th>
            <td>Genuine Bone Nut &amp; Saddle</td>
        </tr>
    </table>
</div>
{% endblock %}